


/* Animacion del nav */

.encabezado {
	background: #fff;
	transition: all 1s ease;
	padding: .5rem;	
}

.fondo {
	background: #b4b4b4 !important;
	padding: 1rem;	
}

.fondo1 {
	background: #2d8d10 !important;
	padding: 1rem;	
}

.fondo2 {
	background: #3168ff !important;
	padding: 1rem;	
}

.fondo3 {
	background: #28b3d6 !important;
	padding: 1rem;	
}


/* --- ---- BARRA LATERAL --- ----  */

.barra-lateral {
	background: #262a34;
	color: #fff;
	min-width: 300px;
	min-height: 100vh;
	padding: 0;
}

.barra-lateral a {
	color: #fff;
}

.barra-lateral .logo {
	background: #0275db;
	margin-bottom: 2px;
}

.barra-lateral .logo h2 {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	padding: 20px 0;
	text-align: center;
	margin:0;
}

/* --- ---- MENU --- ----  */
.barra-lateral .menu a {
	display: block;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.barra-lateral .menu a:hover {
	background: #35ea6b;
	text-decoration: none;
}

.barra-lateral .menu a i {
	margin-right: 20px;
	font-weight: normal;
}

/* --- ---- MAIN NUEVA ENTRADA --- ----  */
.main {
	padding-top: 40px;
}

.main .columna {
	padding-left: 40px;
	padding-right: 40px; 
}

.main .titulo {
	color: #262a34;
	font-size: 25px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}

.main .widget {
	margin-bottom: 40px;
}


/* --- ---- WIDGET ESTADISTICAS --- ----  */
.main .estadisticas .contenedor {
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}

.main .estadisticas .caja {
	background: #fff;
	border: 1px solid #e3e3e3;
	padding: 40px 20px;
	text-align: center;
	flex: 1;
	font-family: 'Roboto', sans-serif;
}

.main .estadisticas .caja h3 {
	margin-bottom: 10px;
	color: #35ea6b;
}

.main .estadisticas .caja p {
	color: #a8a8a8;
	margin-bottom: 0;
}

.main .estadisticas .caja:first-child {
	border-right: none;
}

.main .estadisticas .caja:last-child {
	border-left: none;
}

/* --- ---- WIDGET COMENTARIOS --- ----  */
.main .comentarios .contenedor {
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.main .comentarios .comentario {
	background: #ffF;
	padding: 20px;
	border-bottom: 1px solid #dfdfdf
}

.main .comentarios .comentario .foto {
	width: 64px;
	height: 64px;
	overflow: hidden;
	margin-right: 20px;
	border-radius: 100px;
}

.main .comentarios .comentario .foto a {
	display: inline-block;
}

.main .comentarios .comentario .foto a img {
	width: 100%;
}

.main .comentarios .comentario .texto {
	flex:1;
}

.main .comentarios .comentario .texto .texto-comentario {
	font-size: 18px;
	font-family: 'Open sans', sans-serif;
}

.main .comentarios .comentario .botones button {
	cursor: pointer;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	border:none;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 3px;
	transition: all .3s ease;
	margin-right: 10px; 
}

.main .comentarios .comentario .botones .aprobar {background: #35ae6b;}
.main .comentarios .comentario .botones .eliminar {background: #b74848;}
.main .comentarios .comentario .botones .bloquear {background: #262a34;}

.main .comentarios .comentario .botones .aprobar:hover {background: #449d44;}
.main .comentarios .comentario .botones .eliminar:hover {background: #c9302c;}
.main .comentarios .comentario .botones .bloquear:hover {
	background: #acacac;
	color:#fff;
}

/* --- --- MEDIAQUERIES --- --- */

@media screen and (max-width: 1100px) {
	.barra-lateral {
		min-width: auto;
	}

	.barra-lateral .logo {
		display: none;
	}

	.barra-lateral .menu a span {
		display: none;
	}

	.barra-lateral .menu a i {
		margin: 0;
	}
}

@media screen and (max-width: 575px) {
	.barra-lateral {
		min-height: auto;
	}

	.barra-lateral .menu a {
		display: inline-block;
		border-bottom: none;
	}

	.main .widget form button {
		width: 100%;
	}
}

@media screen and (max-width: 320px) {
	.main .comentarios .comentario .foto {
		width: 30px;
		height: 30px; 
	}

	.main .comentarios .comentario .botones button {
		width: 100%;
	}
} 